#!/bin/bash
[ -z "$PUBLIC_IP" ] && PUBLIC_IP=`curl -s http://169.254.169.254/latest/meta-data/public-ipv4`
[ -z "$PUBLIC_IP" -o "not found" = "$PUBLIC_IP" ] && PUBLIC_IP=`curl -s icanhazip.com`
[ -z "$PRIVATE_TOP_ZONES" ] && PRIVATE_TOP_ZONES="localhost local priv private"

{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
host={{ $host }}
topzone=$(echo "${host##*.}")
tenant=$(echo "${host%.*.*}")
zone=$(echo "${host#$tenant.}")
if [ "${PRIVATE_TOP_ZONES#*$topzone}" != "$PRIVATE_TOP_ZONES" -o "$tenant" = "$zone" ]; then
	echo "Skipping private hostname $host" >> /var/log/route53-dyndns.log
else
	tenant=$(echo $host | cut -f1 -d'.')
	zone=$(echo "${host#*.}")
	cmd="cli53 rrcreate $zone $tenant A $PUBLIC_IP --ttl 300 --replace"
	if [ -z "$DRY_ROUTE53" ]; then
		echo "$cmd" >> /var/log/route53-dyndns.log
		$cmd >> /var/log/route53-dyndns.log 2>&1
	else
		echo "DRYRUN: $cmd"
	fi
fi

{{ end }}
